{% load static %}
            <footer class="footer">

                <!-- Footer Widget Section -->
                <div class="footer-widget-section">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-sm-4 footer-block">
                                <div class="footer-widget widget_text">
                                    <div class="footer-logo">
                                        <a href="#"><img src="{% static "img/logo.png" %}" alt=""></a>
                                    </div>
                                    <p>Continually matrix cross functional opportunities whereas ethical information.
                                        Compellingly streamline enabled human capital before resource-leveling internal
                                        or "organic".</p>

                                </div>
                            </div><!-- /.col-sm-4 -->

                            <div class="col-sm-4 footer-block">
                                <div class="footer-widget widget_text">
                                    <h3>We work for your profit</h3>
                                    <p>Distinctively expedite viral materials rather than out-of-the-box solutions.
                                        Credibly empower revolutionary ROI rather than unique products. Collaboratively
                                        maximize principle-centered ideas before highly efficient data.
                                        Phosfluorescently.</p>
                                </div>
                            </div><!-- /.col-sm-4 -->

                            <div class="col-sm-4 footer-block last">
                                <div class="footer-widget widget_text">
                                    <h3>Contact Us Today</h3>
                                    <address>
                                        Call Us 666 777 888 OR 111 222 333<br>
                                        Send an Email on <a href="mailto:#">contact@domain.com</a><br>
                                        Visit Us 123 Fake Street- Blla 12358<br>
                                        Fake Kingdom<br>
                                    </address>

                                    <ul class="list-inline social-links">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div><!-- /.col-sm-4 -->
                        </div>
                    </div>
                </div><!-- /.Footer Widget Section -->

                <div class="copyright-section">
                    <div class="container clearfix">
                        <span class="copytext">Copyright &copy; 2016 | <a
                                href="https://uicookies.com/downloads/x-corporation-free-bootstrap-html-template/">X-Corporation</a> Designed And Developed By: <strong
                                style="color: #31aae2;">uiCookies.com</strong></span>

                        <ul class="list-inline pull-right">
                            <li {% if '/' == request.path %}class="active"{% endif %}><a href="{% url 'home' %}">Início</a></li>
                            <li {% if 'sobre/' in request.path %}class="active"{% endif %}><a href="{% url 'sobre' %}">Sobre</a></li>
                            <li {% if 'servicos/' in request.path %}class="active"{% endif %}><ahref="{% url 'servicos' %}">Serviços</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div><!-- .container -->
                </div><!-- .copyright-section -->
            </footer>
            <!-- .footer -->


        </div>
        <!-- .content-wrapper -->
    </div>
    <!-- .offcanvas-pusher -->

    <div class="uc-mobile-menu uc-mobile-menu-effect">
        <button type="button" class="close" aria-hidden="true" data-toggle="offcanvas"
                id="uc-mobile-menu-close-btn">&times;
        </button>
        <div>
            <div>
                <ul id="menu">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- .uc-mobile-menu -->

</div>
<!-- #main-wrapper -->


<!-- Script -->
<script src="{% static "js/jquery-2.1.4.min.js" %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="{% static "js/smoothscroll.js" %}"></script>
<script src="{% static "js/mobile-menu.js" %}"></script>
<script src="{% static "js/flexSlider/jquery.flexslider-min.js" %}"></script>
<script src="{% static "js/scripts.js" %}"></script>
<div/>
<a style="font-size:0; height:0; width:0; opacity:0; position:absolute" target="_blank" href="http://www.uicookies.com">HTML Templates by uiCookies</a>
</div>
</body>
</html>